html 
title 
head 
body 
p num:45879635
p adress: goMyCode@gmail.com
label message:
input(type='text')
p
a(href='/') Accueil
p
a(href=`/nos_services/${(new Date).getDay()}/${(new Date).getHours()+1}`) nos service