
html
 head 
    link(rel='stylesheet' , href="./stylesheets/style.css")
    title nos-service
 body
    h1.my-service nos service
    div.
        Begin by identifying who your Ideal Client is Let them know they are in the right place
        We often get asked How do I attract more of my Ideal Client And while there are a lot of reasons you may not be booking your Ideal Client it begins with your website and Services page Are you letting your visitors know right away who you want to workwith This helps eliminate the inquiries that might not connect with you and brings in the ones who you do want to work with! Your Services page is a great opportunity to set clear expectations with who you want to work with  Let it be known! (Idea: You could always create a funengaging quiz to help your Ideal Client better determine if they are in the right place!)
        Then offer a clear explanation of your services in laymans terms
        This may seem obvious but youd be surprised how many websites we’ve come upon and leave not yet understanding what the business offers! (Or we leave more confused than when we started!) Be sure to give clear and concise explanations of what you do To help think about an elevator pitch’ for each of your services If you only had 10 seconds to explain each of your services to someone what would you say? Also remember that some visitors may not know anything about what you do! So pretend as if you are speaking to your Ideal Client when writing these explanations If you want to go the extra mile ask a friend or family member to help explain what you do They might have a better outside perspective! (Idea If your clients need more support while they choose the service best for them you could use this tool to match them with their service!)"
  
    a(href='/') Accueil
    a(href=`/Contact_us/${(new Date).getDay()}/${(new Date).getHours()+1}`) Contactez-nous